@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes appear-delay {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes comeOut {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes comeLeft {
  0% {
    opacity: 0;
    transform: translateX(-120%); }
  25% {
    opacity: 0;
    transform: translateX(-120%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --color-primary: #291711;
  --color-primary-light: #635651;
  --color-primary-light-2: #B1AAA8;
  --color-secondary: #474b24;
  --color-secondary-dark: #070704;
  --color-eggshell: #F0F1CB;
  --color-rozewood: #680F0F;
  --font-iceberg: 'Iceberg', cursive; }

::-webkit-input-placeholder {
  font-family: "Courier New", Helvetica, sans-serif;
  color: var(--color-primary); }

:-ms-input-placeholder {
  font-family: "Courier New", Helvetica, sans-serif;
  color: var(--color-primary); }

:-moz-placeholder {
  font-family: "Courier New", Helvetica, sans-serif;
  color: var(--color-primary); }

::-moz-placeholder {
  font-family: "Courier New", Helvetica, sans-serif;
  color: var(--color-primary); }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: snow;
  line-height: 1.5; }
  @media only screen and (max-width: 70em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 42.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 36.5%;
      width: 100vw;
      max-width: 100%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 25%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 75%; } }

body {
  width: 90vw;
  margin: 0 auto;
  background-color: var(--color-eggshell);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 5.5rem 30vw;
  grid-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      margin: 0;
      width: 100vw;
      max-width: 100%; } }
  @media only screen and (min-width: 100em) {
    body {
      width: 80vw; } }

.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center; }
  .header__icon {
    height: 6.5rem;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    fill: white;
    padding: .5rem; }
  .header__name {
    grid-column: 2/8;
    text-align: center;
    font-size: 5.5rem;
    font-family: var(--font-iceberg);
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    font-weight: 300;
    letter-spacing: .1rem;
    color: var(--color-rozewood); }
    @media only screen and (max-width: 56.25em) {
      .header__name {
        grid-column: 2/8; } }
  .header__btn {
    grid-column: 8/-1;
    width: 4rem;
    height: 2px;
    border: none;
    background-color: #000;
    justify-self: end;
    margin-right: 1rem; }
    .header__btn:focus {
      outline: none; }

.board {
  grid-column: 1/-1;
  background-image: linear-gradient(rgba(104, 15, 15, 0.4), rgba(104, 15, 15, 0.4)), url(../img/board-1.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(5rem, 1fr));
  align-content: center;
  animation: comeLeft .5s ease-out;
  transition: animation .5s ease-out; }
  @media only screen and (max-width: 56.25em) {
    .board {
      grid-template-rows: repeat(2, minmax(25rem, 1fr)); } }
  @media only screen and (max-width: 25em) {
    .board {
      grid-template-rows: repeat(2, minmax(15rem, 1fr)); } }
  .board__text {
    grid-row: 1/2;
    grid-column: 1/-1;
    text-align: center;
    color: var(--color-eggshell);
    font-size: 6.5rem;
    font-family: var(--font-iceberg);
    font-weight: 300;
    letter-spacing: .2rem;
    align-self: center;
    transform: translateY(50%); }
    @media only screen and (max-width: 56.25em) {
      .board__text {
        grid-column: 1/-1;
        font-size: 8rem; } }
  .board__img {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(50%);
    filter: brightness(160%);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
    margin-right: 1rem;
    animation: appear-delay 1s ease-out;
    transition: animation .5s  ease-out; }
    @media only screen and (max-width: 56.25em) {
      .board__img {
        width: 25rem;
        height: 25rem;
        transform: translateY(0%); } }
    @media only screen and (max-width: 37.5em) {
      .board__img {
        width: 25rem;
        height: 25rem; } }
    @media only screen and (max-width: 25em) {
      .board__img {
        width: 15rem;
        height: 15rem; } }

.music {
  grid-column: 1/-1;
  margin-top: 15rem;
  margin-bottom: 10rem;
  padding-top: 5rem; }
  .music__header {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 10rem 5rem;
    grid-gap: 2rem; }
    .music__header .icon--note {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: center;
      justify-self: center; }
    .music__header--text {
      grid-column: 2/3;
      font-size: 5rem;
      letter-spacing: .3rem;
      text-transform: uppercase;
      padding: 1rem;
      color: #680F0F;
      border-left: 1px solid #680F0F;
      font-family: var(--font-iceberg); }
  .music__player {
    display: grid;
    grid-template-columns: 10vw repeat(4, 1fr) 50vw;
    grid-template-rows: 10rem 7rem 4rem 1fr;
    justify-items: center;
    align-items: center;
    color: var(--color-primary); }
    .music__player--title {
      grid-column: 2/-1;
      grid-row: 1/2;
      justify-self: start;
      font-size: 3rem;
      padding-left: 1rem;
      font-family: "Courier New", sans-serif;
      font-weight: 500;
      color: #680F0F; }
    .music__player .icon--play {
      grid-column: 2/3;
      grid-row: 2/3;
      box-shadow: 0 1rem 2rem rgba(41, 23, 17, 0.3);
      transition: all .2s;
      border-radius: 2px; }
      .music__player .icon--play:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1.3rem 2.3rem rgba(41, 23, 17, 0.2); }
      .music__player .icon--play:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 1.1rem 2.1rem rgba(41, 23, 17, 0.3); }
    .music__player .icon--pause {
      grid-column: 3/4;
      grid-row: 2/3;
      box-shadow: 0 1rem 2rem rgba(41, 23, 17, 0.3);
      transition: all .2s;
      border-radius: 2px; }
      .music__player .icon--pause:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1.3rem 2.3rem rgba(41, 23, 17, 0.2); }
      .music__player .icon--pause:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 1.1rem 2.1rem rgba(41, 23, 17, 0.3); }
    .music__player .icon--stop {
      grid-column: 4/5;
      grid-row: 2/3;
      box-shadow: 0 1rem 2rem rgba(41, 23, 17, 0.3);
      transition: all .2s;
      border-radius: 2px; }
      .music__player .icon--stop:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1.3rem 2.3rem rgba(41, 23, 17, 0.2); }
      .music__player .icon--stop:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 1.1rem 2.1rem rgba(41, 23, 17, 0.3); }
    .music__player--track {
      grid-row: 2/3;
      grid-column: 6/7;
      width: 90%;
      height: 2px;
      background-color: #680F0F;
      position: relative;
      cursor: pointer; }
      .music__player--track-zip {
        position: absolute;
        top: -.9rem;
        left: 0;
        background-color: #680F0F;
        width: 1rem;
        height: 2rem;
        cursor: pointer; }
    .music__player--volume {
      background-image: linear-gradient(to bottom right, transparent 0%, transparent 48%, rgba(104, 15, 15, 0.9) 52%);
      width: 100%;
      height: 100%; }
    .music__player--volumeBox {
      grid-row: 3/4;
      grid-column: 2/5;
      width: 100%;
      height: 100%;
      cursor: pointer;
      align-self: end;
      justify-self: start;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-bottom: 1px solid rgba(104, 15, 15, 0.6); }
    .music__player--volume-text {
      grid-row: 3/4;
      grid-column: 5/-1;
      justify-self: start;
      padding-left: 2rem;
      font-size: 2.2rem;
      color: #680f0f; }
    .music__player--list {
      grid-row: 4/5;
      grid-column: 2/-1;
      justify-self: start;
      list-style: none;
      font-size: 2rem;
      font-family: sans-serif;
      letter-spacing: .1rem; }
      .music__player--list > * {
        display: block;
        padding: 1rem 2rem;
        border-bottom: 1px solid var(--color-primary-light-2);
        cursor: pointer;
        transition: all .2s;
        width: 50vw; }
        @media only screen and (max-width: 37.5em) {
          .music__player--list > * {
            width: 80vw; } }
        .music__player--list > *:hover, .music__player--list > *:focus {
          background-color: var(--color-primary-light);
          color: #fff;
          padding-left: 3rem; }
      .music__player--list > :first-child {
        margin-top: 5rem; }

.highlight {
  background-color: var(--color-primary-light);
  color: #fff;
  padding-left: 3rem; }

.lyrics {
  grid-column: 1/-1;
  color: var(--color-eggshell);
  background-color: #fff;
  padding: 10rem 0; }
  .lyrics__header {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 10rem 5rem;
    grid-gap: 2rem; }
    .lyrics__header--text {
      grid-column: 2/3;
      font-size: 5rem;
      letter-spacing: .3rem;
      text-transform: uppercase;
      padding: 1rem;
      color: #680F0F;
      border-left: 1px solid #680F0F;
      font-family: var(--font-iceberg); }
  .lyrics__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 5rem; }
    .lyrics__content > * {
      padding: 2rem;
      font-size: 1.6rem;
      font-family: "Courier New", sans-serif;
      text-align: center;
      color: var(--color-primary); }
      @media only screen and (max-width: 37.5em) {
        .lyrics__content > * {
          font-size: 2rem; } }
      @media only screen and (max-width: 25em) {
        .lyrics__content > * {
          font-size: 2.5rem; } }
      .lyrics__content > * p {
        margin-top: 1rem; }
    .lyrics__content--1 {
      border-top: 1px solid #680F0F; }
  .lyrics__more {
    margin-top: 2rem;
    display: inline-block;
    margin-left: 50%;
    cursor: pointer;
    text-align: center; }
    .lyrics__more p {
      color: var(--color-primary);
      font-size: 1.4rem;
      font-family: "Courier New", sans-serif; }
      @media only screen and (max-width: 37.5em) {
        .lyrics__more p {
          font-size: 1.8rem; } }
  .lyrics .hidden {
    display: none; }

.contact {
  grid-column: 1/-1;
  margin: 15rem 0; }
  .contact__heading {
    font-size: 5rem;
    letter-spacing: .3rem;
    font-weight: 300;
    text-align: center;
    font-family: var(--font-iceberg);
    color: var(--color-primary);
    letter-spacing: .1rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__heading {
        font-size: 6rem; } }
  .contact__form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .contact__form {
        width: 90%; } }
    .contact__form > * {
      margin: 3rem;
      border: none;
      border-radius: 5px;
      padding: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
      .contact__form > *:focus {
        outline: none; }
    .contact__form--message {
      height: 10rem; }
    .contact__form--submit {
      background-color: var(--color-primary);
      color: #fff;
      cursor: pointer;
      transition: all .2s;
      font-size: 2.5rem;
      letter-spacing: .1rem; }
      .contact__form--submit:hover {
        transform: translateY(-2px);
        box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.05); }
      .contact__form--submit:active {
        transform: translateY(-1px);
        box-shadow: 0 1.1rem 1rem rgba(0, 0, 0, 0.1); }
      @media only screen and (max-width: 37.5em) {
        .contact__form--submit {
          font-size: 4rem; } }

.footer {
  grid-column: 1/-1;
  background-color: var(--color-secondary);
  padding: 2rem .5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 5rem .5rem 2rem .5rem; } }
  .footer p {
    font-family: "Courier New", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    letter-spacing: .1rem; }
    @media only screen and (max-width: 37.5em) {
      .footer p {
        font-size: 1.8rem; } }
    .footer p a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      padding: .5rem;
      background-color: #272717;
      cursor: pointer;
      transition: all .2s; }
      .footer p a:hover {
        background-color: var(--color-secondary-dark);
        transform: scale(1.1) rotate(-3deg); }
  .footer p:not(:last-child) {
    margin-bottom: 1rem; }

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); }
  .message__box {
    background-color: var(--color-secondary);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 1rem; }
  .message__text {
    position: absolute;
    top: 40%;
    left: 2.5%;
    font-family: "Courier New", sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-size: 2.5rem; }
  .message__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 99;
    width: 5rem;
    height: 5rem;
    fill: #fff; }

.icon--more {
  width: 3rem;
  height: 2rem;
  fill: var(--color-primary);
  transform: translateY(-5px); }

.icon {
  width: 4rem;
  height: 4rem;
  fill: #680F0F;
  cursor: pointer; }

.icon--text {
  justify-self: center;
  align-self: center; }

.audio {
  display: none; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 0.3rem;
  right: 5.5vw;
  z-index: 11;
  background-color: snow;
  color: var(--color-primary);
  vertical-align: center;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .navigation__button:hover {
    cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      width: 5rem;
      height: 5rem;
      right: 1vw; } }
  @media only screen and (max-width: 25em) {
    .navigation__button {
      top: .6rem; } }
  @media only screen and (min-width: 100em) {
    .navigation__button {
      right: 10vw; } }
  .navigation__button-cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: .2rem;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all .6s; }
    .navigation__button-cross::before, .navigation__button-cross::after {
      content: '';
      display: block;
      width: 3rem;
      height: .2rem;
      background-color: rgba(0, 0, 0, 0.8);
      transition: all .2s; }
    .navigation__button-cross::before {
      position: absolute;
      top: -10px; }
      @media only screen and (max-width: 56.25em) {
        .navigation__button-cross::before {
          top: -7px; } }
      @media only screen and (max-width: 25em) {
        .navigation__button-cross::before {
          top: -5px; } }
    .navigation__button-cross::after {
      position: absolute;
      top: 10px; }
      @media only screen and (max-width: 56.25em) {
        .navigation__button-cross::after {
          top: 7px; } }
      @media only screen and (max-width: 25em) {
        .navigation__button-cross::after {
          top: 5px; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: .8rem;
  right: 6vw;
  background-image: radial-gradient(var(--color-secondary), var(--color-primary));
  z-index: 9;
  transition: all 0.5s cubic-bezier(0.89, -0.01, 0.83, 0.67); }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      width: 4rem;
      height: 4rem;
      right: 1.1vw; } }
  @media only screen and (min-width: 100em) {
    .navigation__background {
      right: 10.5vw; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.89, -0.01, 0.83, 0.67); }
  .navigation__nav ul {
    width: 0;
    opacity: 0;
    visibility: hidden; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation__item {
  margin: 1rem;
  list-style: none; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-family: var(--font-iceberg);
  letter-spacing: .1rem;
  font-size: 3rem;
  font-weight: 300;
  color: snow;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 49%, snow 50%, snow 100%);
  padding: 0rem 2rem;
  background-size: 220%;
  transition: all .5s ease; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 5rem; } }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: var(--color-primary);
  transform: translateX(0.5rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__nav > ul {
  width: 100%;
  opacity: 1;
  visibility: visible; }

.navigation__button:hover > .navigation__button-cross::before {
  transform: translateY(-2px); }
  @media only screen and (max-width: 37.5em) {
    .navigation__button:hover > .navigation__button-cross::before {
      transform: translateY(0); } }

.navigation__button:hover > .navigation__button-cross::after {
  transform: translateY(2px); }
  @media only screen and (max-width: 37.5em) {
    .navigation__button:hover > .navigation__button-cross::after {
      transform: translateY(0); } }

.navigation__checkbox:checked ~ .navigation__button > .navigation__button-cross {
  width: 0; }

.navigation__checkbox:checked ~ .navigation__button > .navigation__button-cross::before {
  top: 0;
  left: -1.5rem;
  transform: rotate(-45deg); }

.navigation__checkbox:checked ~ .navigation__button > .navigation__button-cross::after {
  top: 0;
  left: -1.5rem;
  transform: rotate(45deg); }
