@keyframes appear{

	0%{
		opacity:0;
		transform:scale(0);
	}
	100%{
		opacity:1;
		transform:scale(1);
	}
}
@keyframes appear-delay{

	0%{
		opacity:0;
		
	}
	50%{
		opacity:0;
		
	}
	
	100%{
		opacity:1;
		visibility: visible;
		
		
	}
}
@keyframes comeOut {
	0%{
		opacity:0;
		transform:scale(0);
	}
	100%{
		opacity:1;
		transform:scale(1);
	}
}
@keyframes comeLeft {
	0%{
		opacity:0;
		transform:translateX(-120%);
	}
	25%{
		opacity:0;
		transform:translateX(-120%);
	}
	100%{
		opacity:1;
		transform: translateX(0);
	}
}