.contact{

	grid-column: 1/-1;
	margin: 15rem 0;

	&__heading{
		font-size: 5rem;
		letter-spacing: .3rem;
		font-weight: 300;
		text-align: center;
		font-family: var(--font-iceberg);
		color:var(--color-primary);
		letter-spacing: .1rem;
		margin-bottom: 3rem;
		@include respond(phone){
		 	font-size: 6rem;
		 }
	}
	&__form{

		margin:0 auto;
		width:50%;
		display:flex;
		flex-direction: column;

		@include respond(phone){
			width:90%;
		}

		&>*{
			margin: 3rem;
			border:none;
			border-radius: 5px;
			padding: 1rem;
			box-shadow: 0 1rem 1rem rgba(0,0,0,.2);

			&:focus{
				outline:none;
			}
		}

		&--name{
			
		}
		&--email{
			
		}
		&--message{
			height:10rem;
		}
		&--submit{
			
			background-color: var(--color-primary);
			color:#fff;
			cursor: pointer;
			transition:all .2s;
			font-size: 2.5rem;
			letter-spacing: .1rem;
			 &:hover{
			 	transform:translateY(-2px);
			 	box-shadow: 0 1.2rem 1rem rgba(0,0,0,.05);
			 }
			 &:active{
			 	transform:translateY(-1px);
			 	box-shadow: 0 1.1rem 1rem rgba(0,0,0,.1);
			 }

			 @include respond(phone){
			 	font-size: 4rem;
			 }

		}
	}
}
