.header{
	grid-column: 1/-1;
	display:grid;
	grid-template-columns: repeat(8,1fr);
	align-items: center;

	&__icon{
		height:6.5rem;
		grid-column: 1/2;
		align-self: center;
		justify-self:center;
		fill:white;
		padding:.5rem;
		
	}
	&__name{
		grid-column: 2/8;
		text-align: center;
		font-size: 5.5rem;
		font-family: var(--font-iceberg);
		text-shadow: 0 1rem 2rem rgba(0,0,0,.2);
		font-weight: 300;
		letter-spacing: .1rem;
		color:var(--color-rozewood);
		@include respond(tab-port){
			grid-column: 2/8;
		}
	}
	&__btn{
		grid-column: 8/-1;
		width:4rem;
		height:2px;
		border:none;
		background-color: #000;
		justify-self:end;
		margin-right: 1rem;
		
		&:focus{
			outline:none;
		}
	}
}
