.message{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color: rgba(0,0,0,.8);

	&__box{
		background-color: var(--color-secondary);
		width:50%;
		height:50%;
		position:absolute;
		top:25%;
		left:25%;
		padding:1rem;
	}
	&__text{
		position:absolute;
		top:40%;
		left:2.5%;
		font-family: "Courier New", sans-serif;
		font-weight: 300;
		color:#fff;
		text-align: center;
		font-size: 2.5rem;
	}
	&__close{
		position:absolute;
		top:1rem;
		right:1rem;
		cursor:pointer;
		z-index: 99;
		width:5rem;
		height:5rem;
		fill:#fff;
	}
}