.music{

	grid-column: 1/-1;
	margin-top: 15rem;
	margin-bottom: 10rem;
	padding-top:5rem;

	&__header{
		display:grid;
		grid-template-columns: 10rem 1fr;
		grid-template-rows: 10rem 5rem;
		grid-gap: 2rem;
		.icon--note{
			grid-column: 1/2;
			grid-row: 1/2;
			align-self:center;
			justify-self:center;
		}
		&--text{
			grid-column: 2/3;
			font-size: 5rem;
			letter-spacing: .3rem;
			text-transform: uppercase;
			padding:1rem;
			color:$color-rozewood;
			border-left: 1px solid $color-rozewood;
			font-family: var(--font-iceberg);
		}
	}

	&__player{

		display:grid;
		grid-template-columns: 10vw repeat(4,1fr) 50vw;
		grid-template-rows: 10rem 7rem 4rem 1fr;
		justify-items: center;
		align-items: center;
		color:var(--color-primary);


		&--title{
			grid-column: 2/-1;
			grid-row: 1/2;
			justify-self: start;
			font-size: 3rem;
			padding-left: 1rem;
			font-family: "Courier New", sans-serif;
			font-weight: 500;
			color:$color-rozewood;
		}
		.icon--play{
			grid-column: 2/3;
			grid-row: 2/3;
			@include shadow;
		}
		.icon--pause{
			grid-column: 3/4;
			grid-row: 2/3;
			@include shadow;
		}
		.icon--stop{
			grid-column: 4/5;
			grid-row: 2/3;
			@include shadow;
		}
		&--track{
			grid-row: 2/3;
			grid-column: 6/7;
			width:90%;
			height:2px;
			background-color: $color-rozewood;
			position:relative;
			cursor:pointer;
			&-zip{
				position:absolute;
				top:-.9rem;
				left:0;
				background-color: $color-rozewood;
				width:1rem;
				height:2rem;
				cursor:pointer;

			}
		}
		&--volume{			
			background-image: linear-gradient(to bottom right, transparent 0%, transparent 48%, rgba($color-rozewood,.9) 52%);
			width:100%;
			height:100%;
		}
		&--volumeBox{
			grid-row: 3/4;
			grid-column: 2/5;
			width:100%;
			height:100%;
			cursor:pointer;
			align-self:end;
			justify-self:start;
			display:flex;
			flex-direction: column;
			justify-content: flex-end;
			border-bottom: 1px solid rgba($color-rozewood,.6);
		}
		&--volume-text{
			grid-row: 3/4;
			grid-column: 5/-1;
			justify-self: start;
			padding-left: 2rem;
			font-size: 2.2rem;
			color: rgba($color-rozewood,1);
		}
		&--list{
			grid-row: 4/5;
			grid-column: 2/-1;
			justify-self:start;
			list-style: none;
			font-size: 2rem;
			font-family: sans-serif;
			letter-spacing: .1rem;

			&>*{
				display: block;
				padding:1rem 2rem;
				//margin-top: 1rem;
				border-bottom: 1px solid var(--color-primary-light-2);
				cursor:pointer;
				transition:all .2s;
				width:50vw;
				@include respond(phone){
					width:80vw;
				}
				&:hover,
				&:focus{
					background-color: var(--color-primary-light);
					color:#fff;
					padding-left: 3rem;
				}
			}
			&>:first-child{
				margin-top: 5rem;
			}
		}
	}
}
.highlight{
	background-color: var(--color-primary-light);
	color:#fff;
	padding-left: 3rem;
}