.navigation {


	&__checkbox{
		display:none;
	}
	&__button{
		height:7rem;
		width:7rem;
		border-radius: 50%;
		position:fixed;
		top:0.3rem;
		right:5.5vw;
		z-index: 11;
		background-color: snow;
		color:var(--color-primary);
		vertical-align: center;
		box-shadow: 0 1rem 3rem rgba(#000, .2);

		&:hover{
			cursor:pointer;
		}
		@include respond(phone){
			width:5rem;
			height:5rem;
			right:1vw;
		}
		@include respond(mini){
			top:.6rem;
		}
		@include respond(large){
			right: 10vw;
		}

		&-cross{
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			width:3rem;
			height:.2rem;
			background-color: rgba(#000, .8);
			transition: all .6s;

			&::before,
			&::after{
				content:'';
				display:block;
				width:3rem;
				height:.2rem;
				background-color: rgba(#000, .8);
				transition: all .2s;
			}
			&::before{
				position:absolute;
				top:-10px;
				@include respond(tab-port){
					top:-7px;
				}
				@include respond(mini){
					top:-5px;
				}
			}

			&::after{
				position:absolute;
				top:10px;
				@include respond(tab-port){
					top:7px;
				}
				@include respond(mini){
					top:5px;
				}
			}
		}

	}
	&__background{
		height:6rem;
		width:6rem;
		border-radius: 50%;
		position:fixed;
		top:.8rem;
		right:6vw;
		background-image: radial-gradient(var(--color-secondary), var(--color-primary));
		z-index: 9;
		transition:all .5s cubic-bezier(.89,-0.01,.83,.67);
		@include respond(phone){
			width:4rem;
			height:4rem;
			right:1.1vw;
		}
		@include respond(large){
			right: 10.5vw;
		}
	}
	&__nav{
		height:100vh;
		width:0; //100%
		position:fixed;
		top:0;
		right:0;
		z-index: 10;
		opacity:0;
		transition:all .5s cubic-bezier(.89,-0.01,.83,.67);

		ul{
			width:0;
			opacity:0;
			visibility: hidden;
		}
	}
	&__list{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		text-align: center;
	}
	&__item{
		margin: 1rem;
		list-style: none;

	}
	&__link{

		&:link,
		&:visited{
			display:inline-block;
			font-family: var(--font-iceberg);
			letter-spacing: .1rem;
			font-size: 3rem;
			font-weight: 300;
			color:snow;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(120deg,  transparent 0%,  transparent 49%, snow 50%,  snow 100%);
			padding:0rem 2rem;
			background-size: 220%;
			transition:all .5s ease;
			@include respond(phone){
				font-size: 5rem;
			}
		}

		&:hover,
		&:active {
			background-position: 100%;
			color:var(--color-primary);
			transform: translateX(.5rem);
		}
		
		
	}
	&__checkbox:checked ~ &__background{
		transform:scale(100);
	}
	&__checkbox:checked ~ &__nav{
		opacity:1;
		width:100%;
	}
	&__checkbox:checked ~ &__nav>ul{
		width:100%;
		opacity:1;
		visibility: visible;
	}
	&__button:hover > &__button-cross::before{
			transform:translateY(-2px);
			@include respond(phone){
				transform:translateY(0);
			}
		}
	&__button:hover > &__button-cross::after{
			transform:translateY(2px);
			@include respond(phone){
				transform:translateY(0);
			}
		}
	&__checkbox:checked ~ &__button > &__button-cross{
		width:0;
	}
	&__checkbox:checked ~ &__button > &__button-cross::before{
		top:0;
		left:-1.5rem;
		transform:rotate(-45deg);
		
	}
	&__checkbox:checked ~ &__button > &__button-cross::after{
		top:0;
		left:-1.5rem;
		transform:rotate(45deg);
		
	}
}